<footer class="text-gray-600">
  <div class="container mx-auto px-12 md:px-48 py-12">
    <div class="flex gap-4 pb-4">
      {% for k, s in socials %}
        <a href="{{ s.url }}" class="hover:text-pink-800 focus:text-pink-100">
          <i class="{{ s.icon }} fa-lg"></i>
        </a>
      {% endfor %}
    </div>

    <div>
      <a href="{{ site.source_url }}" class="font-bold hover:text-pink-800 hover:underline focus:text-pink-800 focus:underline">Source code</a>
      is licensed MIT
    </div>

    <div>
      Content is &copy; 2020 Justin Carlson
    </div>
  </div>
</footer>
