@charset 'utf-8';

$beige: #e7e8dfff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

$title-family: 'Work Sans', sans-serif;
$title-weight: 700;
$subtitle-family: $title-family;
$subtitle-weight: $title-weight;

$family-primary: 'Source Serif Pro', serif;
$body-size: 20px;

@import "../../node_modules/bulma/bulma.sass";
