---
layout: base.njk
---

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="subtitle is-5">
            Hey, my name is
          </h2>
          <h1 class="title is-1">
            Justin Carlson
          </h1>
          <p>
            Most of the time I'm a <span class="has-text-weight-bold">software engineer.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Projects</h1>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">Contact</h1>
    <button class="button is-large is-primary">
      Send me an email >
    </button>
  </div>
</section>

{# <div class="container">
  <div class="columns">
    <div class="column">
      <p class="subtitle is-5">
        Hey, my name is
      </p>
      <p class="title is-2">
        Justin Carlson
      </p>
      <p>
        Since I could use a keyboard I've been persuading computers to do cool things.
      </p>
      <p>
        I'm usually a <strong>software engineer.</strong>
      </p>
    </div>
    <div class="column">
      <p>
        Here is the lower content.
      </p>
      <button class="button">
        Button
      </button>
    </div>
  </div>
</div> #}
